/*for Menu */
@media screen and (max-width:1200px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }

    .head-section.row .logo.column-2 {
        grid-column: 1/ span 6;
        grid-row: 1;

    }

    .head-section.row .login-sec.column-3 {
        grid-column: 7/ span 6;
        grid-row: 1;
    }


    .head-section.row .menu-area.column-7 {
        grid-column: 1/ span 12;
        grid-row: 2;

    }


}

/*for Menu  End*/
@media screen and (min-width:768px) and (max-width:991px) {
    .container {
        width: 740px;
        margin: 0 auto;
    }

    .slider-item {
        height: 300px;
    }

    .slideBox h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .service-area .column-4 {
        grid-column: span 6;
    }

    .section-heading h2 {
        font-size: 35px;
    }

    .section-heading p {
        margin: 30px 0;
        font-size: 14px;
        line-height: 20px;
    }

    .testimonial-item p {
        font-size: 18px;
        line-height: 25px;
        margin: 10px 0;
    }

    .testimonial-item span {
        font-size: 15px;
        line-height: 20px;
        margin: 10px 0;
    }

    .latestProject .column-6 {
        grid-column: span 12;
        text-align: center;
    }

    .latestProject .controls {
        height: 100px;
    }

    .latestProject {
        padding: 20px 0;
    }

    .footer-top .column-3 {
        grid-column: span 6;
    }

    .ftbBox {
        flex-direction: column;
    }

    .ftbBox div {
        margin: 10px 0;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        width: 300px;
        margin: 0 auto;
    }

    /*Header Section Start*/
    .head-section.row .logo.column-2 {
        grid-column: 1/span 12;
        grid-row: 1;
    }

    .head-section.row .menu-area.column-7 {
        grid-column: 1/ span 12;
        grid-row: 3;
    }

    .head-section.row .login-sec.column-3 {
        grid-column: 1/ span 8;
        grid-row: 2;
    }

    .responsive-menu.column-2 {
        grid-column: 9/span 4;
        grid-row: 2;
    }

    .head-section .logo h2 {
        text-align: center;
    }

    header.header-area .menu-area {
        justify-content: center;
        flex-direction: column;
    }

    .head-section .menu ul {
        display: block;
    }

    .head-section .menu ul li a {
        display: block;
    }

    header.header-area .menu {
        display: none;
    }

    header.header-area .menu-area {
        justify-content: flex-end;
    }

    .responsive-menu {
        display: block;
        order: 1;
    }

    header.header-area .menu.show {
        display: block;
        order: 2;
    }

    .loginBox {
        justify-content: center;
    }

    /*    Header section End*/
    /*    slider section start*/
    .slider-item {
        height: 300px;
    }

    .slideBox h1 {
        font-size: 40px;
        line-height: 50px;
        letter-spacing: -1px;
    }

    .slideBox p {
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 0px;
    }

    /*    slider section End*/
    /*    Service section Start*/
    section.service-area .column-4 {
        grid-column: span 12;
    }

    .section-heading h2 {
        font-size: 30px;
        margin: 15px 0;
    }

    .section-heading h4 {
        font-size: 16px;
        line-height: 18px;
        margin: 5px 0;
    }

    .section-heading p {
        margin: 20px 0;
        font-size: 15px;
        line-height: 19px;
    }

    .read-more a {
        font-size: 13px;
    }

    /*    Service section End*/
    /*    Testimonial section Start*/
    .testimonial-item p {
        font-size: 20px;
        line-height: 22px;
        margin: 20px 0;
    }

    .testimonial-item span {
        font-size: 16px;
        line-height: 18px;
        margin: 10px 0;
    }

    /*    Testimonial section End*/
    /*    Project section Start*/
    .latestProject .column-6 {
        grid-column: span 12;
    }

    .latestProject .section-heading h2 {
        margin: 0px 0;
    }

    .latestProject .controls {
        justify-content: center;
        flex-flow: row wrap;
    }

    .latestProject .column-4 {
        grid-column: span 12;
    }

    .latestProject .controls button {
        margin: 0 0 15px;
    }

    /*    Project section End*/
    /*    Achivment section Start*/
    .achivment-area .column-6 {
        grid-column: span 12;
        text-align: center;
    }

    /*    Achivment section End*/
    /*    Blog section Start*/
    .blog .column-4 {
        grid-column: span 12;
    }

    /*    Blog section End*/
    /*    Footer top section Start*/
    .footer-top .column-3 {
        grid-column: span 12;
    }

    /*    Footer top section End*/
    /*    Footer bottom section Start*/
    .ftbBox {
        display: block;
        text-align: center;
    }

    .footer-bottom .menu ul {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .footer-bottom .menu ul li a {
        display: block;
    }

    /*    Footer bottom section End*/
}

@media screen and (min-width:480px) and (max-width:767px) {
    .container {
        width: 480px;
        margin: 0 auto;
    }

    /*Header Section Start*/
    .head-section.row .logo.column-2 {
        grid-column: 1/span 12;
        grid-row: 1;
    }

    .head-section.row .menu-area.column-7 {
        grid-column: 1/ span 12;
        grid-row: 3;
    }

    .head-section.row .login-sec.column-3 {
        grid-column: 1/ span 8;
        grid-row: 2;
    }

    .responsive-menu.column-2 {
        grid-column: 9/span 4;
        grid-row: 2;
    }

    .head-section .logo h2 {
        text-align: center;
    }

    header.header-area .menu-area {
        justify-content: center;
        flex-direction: column;
    }

    .head-section .menu ul {
        display: block;
    }

    .head-section .menu ul li a {
        display: block;
    }

    header.header-area .menu {
        display: none;
    }

    header.header-area .menu-area {
        justify-content: flex-end;
    }

    .responsive-menu {
        display: block;
        order: 1;
    }

    header.header-area .menu.show {
        display: block;
        order: 2;
    }

    .loginBox {
        justify-content: center;
    }

    /*    Header section End*/
    /*    slider section start*/
    .slider-item {
        height: 300px;
    }

    .slideBox h1 {
        font-size: 40px;
        line-height: 50px;
        letter-spacing: -1px;
    }

    .slideBox p {
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 0px;
    }

    /*    slider section End*/
    /*    Service section Start*/
    section.service-area .column-4 {
        grid-column: span 12;
    }

    .section-heading h2 {
        font-size: 30px;
        margin: 15px 0;
    }

    .section-heading h4 {
        font-size: 16px;
        line-height: 18px;
        margin: 5px 0;
    }

    .section-heading p {
        margin: 20px 0;
        font-size: 15px;
        line-height: 19px;
    }

    .read-more a {
        font-size: 13px;
    }

    /*    Service section End*/
    /*    Testimonial section Start*/
    .testimonial-item p {
        font-size: 20px;
        line-height: 22px;
        margin: 20px 0;
    }

    .testimonial-item span {
        font-size: 16px;
        line-height: 18px;
        margin: 10px 0;
    }

    /*    Testimonial section End*/
    /*    Project section Start*/
    .latestProject .column-6 {
        grid-column: span 12;
    }

    .latestProject .section-heading h2 {
        margin: 0px 0;
    }

    .latestProject .controls {
        justify-content: center;
        flex-flow: row wrap;
    }

    .latestProject .column-4 {
        grid-column: span 12;
    }

    .latestProject .controls button {
        margin: 0 0 15px;
    }

    /*    Project section End*/
    /*    Achivment section Start*/
    .achivment-area .column-6 {
        grid-column: span 12;
        text-align: center;
    }

    /*    Achivment section End*/
    /*    Blog section Start*/
    .blog .column-4 {
        grid-column: span 12;
    }

    /*    Blog section End*/
    /*    Footer top section Start*/
    .footer-top .column-3 {
        grid-column: span 12;
    }

    /*    Footer top section End*/
    /*    Footer bottom section Start*/
    .ftbBox {
        display: block;
        text-align: center;
    }

    .footer-bottom .menu ul {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .footer-bottom .menu ul li a {
        display: block;
    }

    /*    Footer bottom section End*/

}
